name: Blog post workflow
on:
  workflow_dispatch:
  schedule:
    # Runs every day at 9am UTC
    - cron: '0 09 * * *'
permissions:
  contents: write
  
jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sarisia/actions-readme-feed@v1
        id: feed
        with:
          file: 'README.md'
          format: '- ${day} ${monthlong} - [${title}](${url})'
          timezone: 'Europe/Zurich'
          url: |
            https://jhuesser.ch/blog/feed
      - if: ${{ steps.feed.outputs.changed == true }}
        uses: sarisia/actions-commit@master